<p>
  <strong>first_name:</strong>
  <%= @person.first_name%>
</p>
 
 <p>
  <strong>last_name:</strong>
  <%= @person.last_name%>
</p>
 
 <p>
  <strong>email:</strong>
  <%= @person.email%>
</p>
 
 <p>
  <strong>about_you:</strong>
  <%= @person.about_you%>
</p>
 
