h4{
					font-family: serif;
					font-size: 20px;
					float: right;
					color:#5C5C5C;
					margin-right: 370px;
				}
				.search{
					margin-right: 170px;
					float: right;
					margin-top: -114px;
					padding:9px;
				}
				.sec{
					margin-left:203px;
					border:1px grey solid;
					margin-right:206px;
					margin-top:69px;
					border-radius:14px;
					margin-bottom:87px;
				}
				ul.head{
					display: inline-flex;
					list-style-type: none;
					float: right;
					margin-right: 160px;
					margin-top: -70px;
				}
				li{
					padding: 11px;
				}
				.head a {
					color: #5C5C5C!important;
					text-decoration: none;
				}
				.head a:hover {
					color: green !important;
					text-decoration: none;
				}
				.form{
					margin-top:-41px;
				}
				li .form{
					margin-left: 343px;
				}
				.space{
					margin-left: 40px;
				}
				ul{
					display: inline;
					list-style-type: none;
				}
				ul .bday{
					display: inline-flex;
					list-style-type: none;
				}
				.submit{
					margin-top:20px;
					margin-bottom: 31px;
					margin-left: 352px;
				}
				.submit a:link,.submit a:visited {
			    background-color: green;
			    padding: 17px 57px;
			    text-align: center;	
			    text-decoration: none;
			    display: inline-block;
			    border: 2px solid white;
			    border-radius: 8px;
			    color: white;
				}
				.submit a:hover,.submit a:active {
				    background-color: green;
				}
				.section{
					background-color: grey;
					padding: 10px;
					display: block;
					width: 1252px;
				}
				.container{
					width: 996px;
				}
				.free{
					width: 100%;
					height: auto;
					text-align: center;
					display: inline-flex;
				}
				.free1{
					margin-top:20px;
				}
				.free1 a:link,.free1 a:visited {
			    background-color: gray;
			    color: white;
			    padding: 10px 19px;
			    text-align: center;	
			    text-decoration: none;
			    display: inline-block;
			    border: 2px solid white;
			    border-radius: 8px;
				}
				.free1 a:hover,.free1 a:active {
				    background-color: dimgray;
				}
				.footer{
					padding: 76px 0px 0px;
					width: 1272px;
					background-color:dimgray;
					height: 502px;
				}
				.footer1{
					width: 100%;
				}
				.left{
					float: left;
				}
				.right{
					float: right;
					color: white;
					margin-right: 268px;
					margin-top: -6px;
					font-size: 20px;
				}
				.footer2{
					width: 100%;
					height: auto;
					margin-bottom: 95px;
				}
				.call{
					display: inline-block;
					color: white;
					margin-right: 90px;
					margin-left: -291px;
					font-size: 35px;
					margin-top:90px;
				}

				.book a:link,.book a:visited {
			    background-color: green! important;
			    color: white;
			    padding: 10px 19px;
			    text-align: center;	
			    text-decoration: none;
			    display: inline-block;
			    border: 2px solid white;
			    border-radius: 8px;
				}
				.book a:hover,.book a:active {
				    background-color: transparent;
				}
				
				.padding{
					padding: 0px 8px;
					box-sizing: border-box;
				}
				.first{
					width: 33.33%;
					float: left;
					box-sizing: border-box;
					font-family: Verdana,sans-serif;
					font-size: 15px;
					line-height: 5.5px;
					color: grey;
					margin-left: 111px;
					margin-top:49px;
				}
				.Link1{
					display: inline;
					float: left;
					height: 0px;
					margin-top: 0px;
					margin-right: 10px;
					margin-bottom: 0px;
					margin-left: 10px;
					width: 31%;
				}
				.Link1 ul li{
					padding: 0px 0px 20px 12px;
					list-style: outside none none;
					background-image: url("icon8.png");
					background-repeat: no-repeat;
					background-position: left none;
				}
				.Link2{
					display: inline;
					float: left;
					height: 0px;
					margin-top: 32px;
					margin-right: 10px;
					margin-bottom: 0px;
					margin-left: 247px;
					width: 31%;
					color: grey;
				}
				.Link2 ul li{
					padding: 0px 0px 20px 12px;
					list-style: outside none none;
					background-image: url("icon9.png");
					background-repeat: no-repeat;
					background-position: left none;
				}
				.tweet{
					margin-left:16px;
					margin-top:-14px;
				}
				.tweet a:active{
				 	color: gray;
			    background-color: transparent;
			    text-decoration: none;
				 }
				 .tweet a:hover{
				 	color:white;
				 }
				 .tweet1{
					margin-left:16px;
					margin-top:-13px;
				}
				.tweet1 a{
				 	color: gray;
			    background-color: transparent;
			    text-decoration: none;
				 }
				 .tweet1 a:hover{
				 	color:white;
				 }
				 
				.second {
					margin-top: -33px;
					margin-left: -89px;
				}
				.second a{
					color: gray;
			    background-color: transparent;
			    text-decoration: none;
				}
				.second a:hover{
					color:white;
				}
				.follow{
				background-color:black; 
				width:1252px;
				padding:10px;
				height:90px;
				margin-top:308px
				}
				.follow_link1{
					color:white;
					margin-top:31px;
					margin-left:112px
				}
				.follow_link2{
					margin-left:409px;
					margin-top:-19px;
					color: white;
				}
				.follow_link2 a:link {
					color: white;
					text-decoration: none;
				}
				.follow_link2 a:hover {
					color: grey;
					text-decoration: none;
				}
				.follow_link3{
					float:right;
					color:white;
					margin-right:102px;
					margin-top:-27px;
					font-size:17px
				}
				.style{
					display: inline;
					list-style-type: none;
				}
				.style1{
					background-image: url("icon10.png");
					background-repeat: no-repeat;
					display: inline-block;
					margin-left: -34px;
				}
				.style2{
					background-image: url("icon11.png");
					background-repeat: no-repeat;
					display: inline-block;
				}
				.style3{
					background-image: url("icon12.png");
					background-repeat: no-repeat;
					display: inline-block;
				}
				.style4{
					background-image: url("icon13.png");
					background-repeat: no-repeat;
					display: inline-block;
				}
				.style5{
					background-image: url("icon14.png");
					background-repeat: no-repeat;
					display: inline-block;
				}
				.last{
					background-color:white;
					width:1252px;
					height:14px;
					padding: 8px;
				}
